<h1>New Conversation</h1>

<%= form_tag conversations_path, method: :post do %>
  <div>
    <%= text_field_tag :user_name, nil, placeholder: "username", autocomplete: true %>
  </div>

  <div>
    <%= text_field_tag :subject, nil, placeholder: "subject" %>
  </div>

  <div>
    <%= text_area_tag :body, nil, placeholder: "message" %>
  </div>

  <%= submit_tag %>

<% end %>