<h1 class="profile-heading"><%= @conversation.subject %></h1>

<% @conversation.receipts_for(current_user).each do |receipt| %>
  <div>
    <strong><div class="sender-text"><%= receipt.message.sender.name %> said: </div></strong>
    <div class="message-box">
      <%= receipt.message.body %>
    </div>
  </div>
<% end %>

<%= form_tag conversation_messages_path(@conversation), method: :post do %>
  <div>
    <%= text_area_tag :body, nil, placeholder: "Say Something!", class: "send-msg-box" %>
  </div>

  <%= submit_tag 'Send Message', class: "send-msg-button" %>

<% end %>

<%= link_to 'Delete', conversation_path(@conversation), class: "delete-link", method: :delete, data: { confirm: 'Are you sure?' } %>
