<!-- heading -->

<h1 class="profile-heading">Meet <%= @user.user_name %></h1>
<% if @user == current_user %>
  <span class="edit-profile-btn"><%= link_to 'Edit Profile', edit_user_registration_path(@user) %></span>
<% end %>

<!-- User information -->
<p>Average Borrower rating: <%= @user.average_borrower_rating %>/5</p>
<p>Average Loaner rating: <%= @user.average_loaner_rating %>/5</p>
<div class="user-bio">
  <p class="underline">About <%= @user.user_name.capitalize %></p>
  <p> <%= @user.bio %></p>
</div>
<p class="underline"><%= @user.user_name.capitalize %>'s Postings</p>
<ul>
  <% @user.posts.each do |post| %>
    <% if post.status == "open" %>
      <li><%= link_to post.title, post_path(post) %></li>
    <% end %>
  <% end %>
</ul>

<!-- User's reviews -->
<div class="users-review-box">
  <p>Reviews of <%= @user.user_name.capitalize %></p>
  <table style="width:100%">
    <tr>
      <th class="rvw-col-border"><%= @user.user_name %> as a loaner</th>
      <th class="rvw-col-border"><%= @user.user_name %> as a borrower</th> 
    </tr>
    <tr>
       <%@user.received_loaner_reviews.each do |review| %>
       <td class="rvw-col-border">
          <p><%= review.body %></p>
          <p><%= review.rating %>/5</p>
       </td>
       <%end %>
       <%@user.received_borrower_reviews.each do |review| %>
       <td class="rvw-col-border">
          <p><%= review.body %></p>
          <p><%= review.rating %>/5</p>
       </td>
       <%end %>  
    </tr>
  </table>
</div>

<!-- leave a review -->
<p>Leave a review of</p>
<div class="row review-box">
  <div class="col">
    <!-- User as a loaner -->
    <div class="leave-review-box">
      <p class="rev-center"><%= @user.user_name.capitalize %> as a loaner</p>
      <%= form_for([current_user, @review]) do |form| %>
        <%= form.hidden_field :reviewer_id, :value=> current_user.id %>
        <%= form.hidden_field :role, :value=> "borrower" %>
        <%= form.hidden_field :reviewee_id, :value=> @user.id %>

        <%= form.text_area :body, class: "review-body", placeholder: "message" %><br>

        <div class="submit-review">
          <%= form.label :rating %>
          <%= form.select :rating, [1, 2, 3, 4, 5] %>
          <%= form.submit %>
        </div>
      <% end %>
    </div>    
  </div>
  <div class="col">
    <!-- user as a borrower -->
    <div class="leave-review-box">
      <p class="rev-center"><%= @user.user_name.capitalize %> as a borrower</p>
      <%= form_for([current_user, @review]) do |form| %>
        <%= form.hidden_field :reviewer_id, :value=> current_user.id %>
        <%= form.hidden_field :role, :value=> "loaner" %>
        <%= form.hidden_field :reviewee_id, :value=> @user.id %>

        <%= form.text_area :body, class: "review-body", placeholder: "message" %><br>

        <div class="submit-review">
          <%= form.label :rating %>
          <%= form.select :rating, [1, 2, 3, 4, 5] %>
          <%= form.submit %>
        </div>
      <% end %>
    </div>
  </div>
</div>


<!-- private messaging -->
<% if @user != current_user %>
  <div class="messaging-box">
    <p>Send a Private Message to <%= @user.user_name.capitalize %></p>

    <%= form_tag conversations_path, method: :post do %>
      <div>
        <span class="hidden"><%= text_field_tag :user_name, nil, value: @user.user_name %></span>
        <span><%= text_field_tag :subject, nil, placeholder: "subject", class: "subject" %></span>
      </div>

      <div>
        <%= text_area_tag :body, nil, placeholder: "message", class: "message-body" %>
      </div>

      <%= submit_tag %>
    <% end %>
  </div>
<% end %>
