<div>
	<p class="post-title"><%= @post.title %></p>

	<%= image_tag @post.image.url(:medium) %>

	<p class="post-description"><%= @post.description %></p>

	<table style="width:100%">
	  <tr>
	    <th class="table-headers">Price</th>
	    <th class="table-headers">Status</th> 
	    <th class="table-headers">Negotiable?</th>
	    <th class="table-headers">Author</th>
	  </tr>
	  <tr>
	    <td><%= @post.price %></td>
	    <td><%= @post.status %></td> 
	<% if @post.negotiable %>
		<td>yes</td>
	<% else %>
		<td>no</td>
	<% end %>
		<td><%= link_to @post.loaner.name.capitalize, user_path(@post.loaner) %></td>
	  </tr>
	</table>



	<% if @post.loaner == current_user %>
		<div class="tag-box">
			<p>Tags</p>
			<% @post.tags.each do |tag| %>
				<span><%= link_to "x", post_tag_path(tag, post_id: @post.id), method: "DELETE" %><%= tag.name %></span>
			<% end %>
		</div>
	<% else%>
		<div class="tag-box">
			<p>Tags</p>
			<% @post.tags.each do |tag| %>
				<span><%= tag.name %></span>
			<% end %>
		</div>
	<% end %>

</div>

<% if @post.loaner == current_user %>
	<div>
		<p>Add Tags To Your Post</p>

		<%= form_for @tag, as: :tag, url: tags_path, html: {id: "tag_form" } do |f| %>
			<div>
				<%= f.label "Tag Name" %>
				<%= f.text_field :name %>
				<%= f.hidden_field :post_id, value: @post.id %>
			</div>
		  		<%= f.submit "Create" %>
		<% end %>
	</div>
	<div>
		<p><%= link_to "Edit Post", edit_post_path(@post)%></p>
		<p><%= link_to "Delete Post", post_path(@post), method: "DELETE"%></p>
	</div>
<% end %>