<!DOCTYPE html>
<html>
  <head>
    <title>Foreveraloaner</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag   'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div class="row">
      <div class="left-body-column">
        <ul class="nav">
          <li class="nav-li"><%= link_to "Home", categories_path  %></li>
            <% if user_signed_in?  %>
                <li class="nav-li"><%= link_to "Logout", destroy_user_session_path, method: "DELETE" %></li>
                <li class="nav-li"> <%= link_to "My Profile", user_path(current_user)  %></li>
                <li class="nav-li"><%= link_to "Create a Post", new_post_path  %></li>
            <% else %>
                <li class="nav-li"><%= link_to "Login", new_user_session_path %></li>
                <li class="nav-li"><%= link_to "Register", new_user_registration_path  %></li>
            <% end %>
          </ul>
        
        <div class="search-bar">
          <%= form_tag(posts_path, method: :get, :class => 'search-style') do %>
            <%= text_field_tag :term, params[:term], placeholder: "Keyword", class: 'col-md-12 input-lg' %>
            <%= text_field_tag :zip_code, params[:zip_code], placeholder: "Zip Code"%>
            <%= text_field_tag :distance, params[:distance], placeholder: "Distance In Miles" %>
            <%= submit_tag 'Search', name: nil, class: 'col-md-12 btn'  %>
          <% end %>
        </div>
        
        <div class="dropdown">
          <button class="dropbtn">Categories</button>
            <div class='dropdown-content'>
              <ul class='menu-scroll'>
                <% @categories.each do |category| %>
                  <%= link_to category.name, category_path(category) %>
                <% end %>
             </ul>
           </div>
         </div> 
        </div>
    </div>

    <div class="right-body-column"%>
        <% if notice %>
          <p class="alert alert-success"><%= notice %></p>
        <% end %>
        <% if alert %>
          <p class="alert alert-danger"><%= alert %></p>
        <% end %>

      <% if @errors %>
        <%= render "layouts/errors" %>
      <% end %>
      <div class="body"><%= yield %></div>
    </div>
  </body>
</html>
