<!DOCTYPE html>
<html>
  <head>
    <title>Foreveraloaner</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
  	<header>
	  	<% if logged_in?  %>
	        <%= link_to "Logout", sessions_path, method: "DELETE" %>
	        <%= link_to "My Profile", user_path(current_user)  %>
	    <% else %>
	        <%= link_to "login", new_session_path %>
	        <%= link_to "Register", new_user_path  %>
	    <% end %>
      <%= link_to "Home", categories_path  %>
      <%= form_tag(search_path) do %>
        <%= text_field_tag :term %>
        <%= submit_tag 'Search' %>
      <% end %>
  	</header>
    <%= yield %>
  </body>
</html>
